<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.yuan.orderlibrary">
    
    <application>
        <activity android:name=".ui.activity.ShipEditActivity">
        </activity>
        <activity android:name=".ui.activity.ShipAddressActivity">
        </activity>
        <activity android:name=".ui.activity.OrderConfirmActivity">
        </activity>
        <activity android:name="com.kotlin.order.ui.activity.OrderActivity" />
        <activity android:name="com.kotlin.order.ui.activity.OrderDetailActivity" />
    </application>

</manifest>